{
  "extends": ["./node_modules/prettier-stylelint/config.js"],
  "plugins": ["stylelint-order", "stylelint-scss"],
  "rules": {
    "order/order": [
      "custom-properties",
      "dollar-variables",
      {
        "type": "at-rule",
        "name": "include"
      },
      "declarations",
      "at-rules",
      "rules"
    ],
    "order/properties-order": [
      {
        "groupName": "counters",
        "properties": ["counter-increment", "counter-reset"]
      },
      {
        "groupName": "box model",
        "emptyLineBefore": "always",
        "properties": [
          "width",
          "height",
          "content",
          "display",
          "box-sizing",
          "break-after",
          "break-before",
          "break-inside",
          "clear",
          "column-count",
          "column-fill",
          "column-gap",
          "column-span",
          "column-width",
          "columns",
          "margin",
          "margin-bottom",
          "margin-left",
          "margin-right",
          "margin-top",
          "max-height",
          "max-width",
          "min-height",
          "min-width",
          "padding",
          "padding-bottom",
          "padding-left",
          "padding-right",
          "padding-top",
          "page-break-after",
          "page-break-before",
          "resize",
          "table-layout"
        ]
      },
      {
        "groupName": "flexbox",
        "emptyLineBefore": "always",
        "properties": [
          "align-content",
          "align-items",
          "align-self",
          "justify-content",
          "flex-direction",
          "flex",
          "flex-basis",
          "flex-flow",
          "flex-grow",
          "flex-shrink",
          "flex-wrap",
          "order"
        ]
      },
      {
        "groupName": "grid",
        "emptyLineBefore": "always",
        "properties": [
          "grid",
          "grid-area",
          "grid-auto-columns",
          "grid-auto-flow",
          "grid-auto-rows",
          "grid-column",
          "grid-column-end",
          "grid-column-gap",
          "grid-column-start",
          "grid-gap",
          "grid-row",
          "grid-row-gap",
          "grid-row-start",
          "grid-template",
          "grid-template-areas",
          "grid-template-columns",
          "grid-template-rows"
        ]
      },
      {
        "groupName": "position",
        "emptyLineBefore": "always",
        "properties": [
          "top",
          "right",
          "bottom",
          "left",
          "float",
          "isolation",
          "object-fit",
          "object-position",
          "position",
          "vertical-align",
          "z-index"
        ]
      },
      {
        "groupName": "type styles",
        "emptyLineBefore": "always",
        "properties": [
          "font",
          "font-family",
          "font-feature-settings",
          "font-kerning",
          "font-size",
          "font-language-override",
          "font-size-adjust",
          "font-stretch",
          "font-style",
          "font-synthesis",
          "font-variant",
          "font-variant-alternates",
          "font-variant-caps",
          "font-variant-east-asian",
          "font-variant-ligatures",
          "font-variant-numeric",
          "font-variant-position",
          "font-weight",
          "color",
          "caption-side",
          "caret-color",
          "direction",
          "hanging-punctuation",
          "hyphens",
          "letter-spacing",
          "line-break",
          "line-height",
          "list-style",
          "list-style-image",
          "list-style-position",
          "list-style-type",
          "orphans",
          "quotes",
          "tab-size",
          "text-align",
          "text-align-last",
          "text-combine-upright",
          "text-decoration",
          "text-decoration-line",
          "text-decoration-style",
          "text-indent",
          "text-justify",
          "text-orientation",
          "text-overflow",
          "text-shadow",
          "text-transform",
          "text-underline-position",
          "unicode-bidi",
          "user-select",
          "white-space",
          "widows",
          "word-break",
          "word-spacing",
          "word-wrap",
          "writing-mode"
        ]
      },
      {
        "groupName": "decoration",
        "emptyLineBefore": "always",
        "properties": [
          "backface-visibility",
          "background",
          "background-attachment",
          "background-blend-mode",
          "background-clip",
          "background-color",
          "background-image",
          "background-origin",
          "background-position",
          "background-repeat",
          "background-size",
          "border",
          "border-bottom",
          "border-bottom-color",
          "border-bottom-left-radius",
          "border-bottom-right-radius",
          "border-bottom-style",
          "border-bottom-width",
          "border-collapse",
          "border-color",
          "border-image",
          "border-image-outset",
          "border-image-repeat",
          "border-image-slice",
          "border-image-source",
          "border-image-width",
          "border-left",
          "border-left-color",
          "border-left-left-radius",
          "border-left-right-radius",
          "border-left-style",
          "border-left-width",
          "border-radius",
          "border-right",
          "border-right-color",
          "border-right-left-radius",
          "border-right-right-radius",
          "border-right-style",
          "border-right-width",
          "border-spacing",
          "border-style",
          "border-top",
          "border-top-color",
          "border-top-left-radius",
          "border-top-right-radius",
          "border-top-style",
          "border-top-width",
          "box-decoration-break",
          "box-shadow",
          "clip",
          "column-rule",
          "column-rule-color",
          "column-rule-style",
          "column-rule-width",
          "cursor",
          "empty-cells",
          "filter",
          "image-rendering",
          "mix-blend-mode",
          "opacity",
          "outline",
          "outline-color",
          "outline-offset",
          "outline-style",
          "outline-width",
          "overflow",
          "overflow-wrap",
          "overflow-x",
          "overflow-y",
          "scroll-behavior",
          "visibility"
        ]
      },
      {
        "groupName": "transforms, transitions, animations",
        "emptyLineBefore": "always",
        "properties": [
          "transform",
          "transform-origin",
          "transform-style",
          "animation",
          "animation-delay",
          "animation-direction",
          "animation-fill-mode",
          "animation-iteration-count",
          "animation-name",
          "animation-play-state",
          "animation-timing-function",
          "transition",
          "transition-duration",
          "transition-property",
          "transition-timing-function",
          "perspective",
          "perspective-origin",
          "pointer-events"
        ]
      }
    ],
    "scss/at-rule-no-unknown": true,
    "block-opening-brace-newline-after": "always-multi-line",
    "block-closing-brace-newline-before": "always-multi-line",
    "indentation": 2,
    "string-quotes": "single",
    "no-duplicate-selectors": true,
    "color-hex-case": "lower",
    "color-hex-length": "long",
    "rule-empty-line-before": ["always", { "except": "first-nested" }],
    "selector-no-qualifying-type": true,
    "selector-max-id": 0,
    "selector-max-specificity": "0,2,1",
    "selector-combinator-space-after": "always",
    "selector-attribute-quotes": "always",
    "selector-attribute-operator-space-before": "never",
    "selector-attribute-operator-space-after": "never",
    "selector-attribute-brackets-space-inside": "never",
    "declaration-block-trailing-semicolon": "always",
    "declaration-no-important": true,
    "declaration-colon-space-before": "never",
    "declaration-colon-space-after": "always",
    "number-leading-zero": "always",
    "font-family-name-quotes": "always-unless-keyword",
    "selector-pseudo-element-colon-notation": "double",
    "selector-pseudo-class-parentheses-space-inside": "never",
    "selector-max-universal": 0,
    "selector-max-type": 0,
    "media-feature-range-operator-space-before": "always",
    "media-feature-range-operator-space-after": "always",
    "media-feature-parentheses-space-inside": "never",
    "media-feature-colon-space-before": "never",
    "media-feature-colon-space-after": "always"
  }
}
